<!-- <!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Apex</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js"></script>
    <script src="/scripts/app.js"></script>
    <link rel="stylesheet" href="/styles/app.css">
</head>

<body ng-app="mockApp">
    
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="header">
        <div class="logo">Aboard</div>
        <div class="options">
            <i class="material-icons">account_circle</i>
        </div>
    </div>
    <div class="content">

        <div class="mainOptionsDiv">
            <div class="mainOption"> <a ui-sref="salesDb" ui-sref-active="active">Sales</a></div>
            <div class="mainOption">Estimates</div>
            <div class="mainOption">Projects</div>
            <div class="mainOption">Quotes</div>
            <div class="mainOption">Roles</div>
        </div>

        <div class="containerDiv">
            <ui-view></ui-view>
        </div>

        

        <div> Sales Form </div>
        <div class="salesDetailsDiv">
            <div class="salesActionDiv">
                <div>
                    <button class="fw-button">Publish</button>
                </div>
                <div>
                    <button class="fw-button">Save</button>
                </div>
                <div>
                    <button class="fw-button">Cancel</button>
                </div>
            </div>
            <div class="card companyInfo">
                <div class="cardHeader">
                    Company Info
                </div>
                <div class="companyInfoForm">
                    <div class="info">
                        <div class="infoLabel">Company Name</div>
                        <div class="infoContent">
                            <input class="fwInput" type="text">
                        </div>
                    </div>
                    <div class="info">
                        <div class="infoLabel">Address</div>
                        <div class="infoContent">
                            <input class="fwInput" type="text">
                        </div>
                    </div>
                    <div class="info">
                        <div class="infoLabel">URL</div>
                        <div class="infoContent">
                            <input class="fwInput" type="text">
                        </div>
                    </div>
                    <div class="info">
                        <div class="infoLabel">Contact</div>
                        <div class="infoContent">
                            <input class="fwInput" type="text">
                        </div>
                    </div>
                </div>

            </div>
            <div class="card bidInfo">
                <div class="cardHeader">
                    Bid Info
                </div>
                <div class="bidInfoForm">
                    <div class="info">
                        <div class="infoLabel">Received Date</div>
                        <div class="infoContent">
                            <input class="fwInput" type="date">
                        </div>
                    </div>
                    <div class="info">
                        <div class="infoLabel">Received from</div>
                        <div class="infoContent">
                            <input class="fwInput" type="text">
                        </div>
                    </div>
                    <div class="info">
                        <div class="infoLabel">Sent Date</div>
                        <div class="infoContent">
                            <input class="fwInput" type="date">
                        </div>
                    </div>
                    <div class="info">
                        <div class="infoLabel">Document Received</div>
                        <div class="infoContent">
                            <input class="fwInput" type="text">
                        </div>
                    </div>
                    <div class="info">
                        <div class="infoLabel">Document Path</div>
                        <div class="infoContent">
                            <input class="fwInput" type="text">
                        </div>
                    </div>
                    <div class="info">
                        <div class="infoLabel">Bid Requirement</div>
                        <div class="infoContent">
                            <input class="fwInput" type="text">
                        </div>
                    </div>
                    <div class="info">
                        <div class="infoLabel">Bid Status</div>
                        <div class="infoContent">
                            <input class="fwInput" type="text">
                        </div>
                    </div>
                    <div class="info">
                        <div class="infoLabel">Sales person</div>
                        <div class="infoContent">
                            <input class="fwInput" type="text">
                        </div>
                    </div>
                </div>

            </div>
            <div class="card estInfo">
                <div class="cardHeader">
                    Estimate Info
                </div>
                <div class="estInfoForm">
                    <div class="info">
                        <div class="infoLabel">Inclusions</div>
                        <div class="infoContent">
                            <input class="fwInput" type="text">
                        </div>
                    </div>
                    <div class="info">
                        <div class="infoLabel">Exclusions</div>
                        <div class="infoContent">
                            <input class="fwInput" type="text">
                        </div>
                    </div>
                    <div class="info">
                        <div class="infoLabel">Main Steel Hours</div>
                        <div class="infoContent">
                            <input class="fwInput" type="text">
                        </div>
                    </div>
                    <div class="info">
                        <div class="infoLabel">Main Steel Estimated Schedule</div>
                        <div class="infoContent">
                            <input class="fwInput" type="text">
                        </div>
                    </div>
                    <div class="info">
                        <div class="infoLabel">Misc Steel Hours</div>
                        <div class="infoContent">
                            <input class="fwInput" type="text">
                        </div>
                    </div>
                    <div class="info">
                        <div class="infoLabel">Misc Steel Estimated Schedule</div>
                        <div class="infoContent">
                            <input class="fwInput" type="text">
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div> Quote </div>
        <div class="quoteDiv">
            <div class="quoteActionDiv">
                <div>
                    <button class="fw-button">Generate Quote</button>
                </div>
                <div>
                    <button class="fw-button">Save</button>
                </div>
                <div>
                    <button class="fw-button">Cancel</button>
                </div>
            </div>
            <div class="quoteActionForm">
                <div class="card estInfo">
                    <div class="cardHeader">
                        Estimate Info
                    </div>
                    <div class="estInfoForm">
                        <div class="info">
                            <div class="infoLabel">Inclusions</div>
                            <div class="infoContent">
                                <input class="fwInput" type="text">
                            </div>
                        </div>
                        <div class="info">
                            <div class="infoLabel">Exclusions</div>
                            <div class="infoContent">
                                <input class="fwInput" type="text">
                            </div>
                        </div>
                        <div class="info">
                            <div class="infoLabel">Main Steel Hours</div>
                            <div class="infoContent">
                                <input class="fwInput" type="text">
                            </div>
                        </div>
                        <div class="info">
                            <div class="infoLabel">Main Steel Estimated Schedule</div>
                            <div class="infoContent">
                                <input class="fwInput" type="text">
                            </div>
                        </div>
                        <div class="info">
                            <div class="infoLabel">Misc Steel Hours</div>
                            <div class="infoContent">
                                <input class="fwInput" type="text">
                            </div>
                        </div>
                        <div class="info">
                            <div class="infoLabel">Misc Steel Estimated Schedule</div>
                            <div class="infoContent">
                                <input class="fwInput" type="text">
                            </div>
                        </div>

                    </div>
                </div>
                <div class="card estInfo">

                    <div class="estInfoForm">
                        <div class="info">
                            <div class="infoLabel">Quote Price</div>
                            <div class="infoContent">
                                <input class="fwInput" type="text">
                            </div>
                        </div>
                        <div class="info">
                            <div class="infoLabel">Remarks/Comments</div>
                            <div class="infoContent">
                                <input class="fwInput" type="text">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div> Estimation </div>
        <div class="estimationDiv">
            <div class="estimationActionDiv">
                <div>
                    <button class="fw-button">Publish</button>
                </div>
                <div>
                    <button class="fw-button">Save</button>
                </div>
                <div>
                    <button class="fw-button">Cancel</button>
                </div>
            </div>
            <div class="estimationActionForm">
                    <div class="card estInfo">
                            <div class="cardHeader">
                                Estimate Info
                            </div>
                            <div class="estInfoForm">
                                <div class="info">
                                    <div class="infoLabel">Inclusions</div>
                                    <div class="infoContent">
                                        <input class="fwInput" type="text">
                                    </div>
                                </div>
                                <div class="info">
                                    <div class="infoLabel">Exclusions</div>
                                    <div class="infoContent">
                                        <input class="fwInput" type="text">
                                    </div>
                                </div>
                                <div class="info">
                                    <div class="infoLabel">Main Steel Hours</div>
                                    <div class="infoContent">
                                        <input class="fwInput" type="text">
                                    </div>
                                </div>
                                <div class="info">
                                    <div class="infoLabel">Main Steel Estimated Schedule</div>
                                    <div class="infoContent">
                                        <input class="fwInput" type="text">
                                    </div>
                                </div>
                                <div class="info">
                                    <div class="infoLabel">Misc Steel Hours</div>
                                    <div class="infoContent">
                                        <input class="fwInput" type="text">
                                    </div>
                                </div>
                                <div class="info">
                                    <div class="infoLabel">Misc Steel Estimated Schedule</div>
                                    <div class="infoContent">
                                        <input class="fwInput" type="text">
                                    </div>
                                </div>
        
                            </div>
                        </div>
            </div>
        </div>

    </div>
    <!-- header -->
    <!-- options -->
    <!-- Sales List -->
    <!-- Sales Form -->
    <!-- Sales Details -->
    <!-- Quote -->
    <!-- Estimation -->
</body>

</html>