<div class="divHeader"> Sales Form </div>
<div class="salesDetailsDiv">
    <div class="addSalesActionDiv">
        <div>
            <button class="fw-button" ng-click="pushToSalesList(newCompany)">Publish</button>
        </div>
        <div>
            <button class="fw-button" ng-click="pushToSalesList(newCompany)">Save</button>
        </div>
        <div>
            <button class="fw-button" ng-click="goSalesDb()">Cancel</button>
        </div>
    </div>
    <div class="card companyInfo">
        <div class="cardHeader">
            Fabricator Info
        </div>
        <div class="companyInfoForm">
            <div class="info">
                <div class="infoLabel">Fabricator Name</div>
                <div class="infoContent">
                    <input class="fwInput" ng-model="newCompany" type="text">
                </div>
            </div>
            <div class="info">
                <div class="infoLabel">Address</div>
                <div class="infoContent">
                    <input class="fwInput" type="text">
                </div>
            </div>
            <div class="info">
                <div class="infoLabel">URL</div>
                <div class="infoContent">
                    <input class="fwInput" type="text">
                </div>
            </div>
            <div class="info">
                <div class="infoLabel">Contact</div>
                <div class="infoContent">
                    <input class="fwInput" type="text">
                </div>
            </div>
        </div>

    </div>
    <div class="card bidInfo">
        <div class="cardHeader">
            Bid Info
        </div>
        <div class="bidInfoForm">
            <div class="info">
                <div class="infoLabel">Received Date</div>
                <div class="infoContent">
                    <input class="fwInput" type="date">
                </div>
            </div>
            <div class="info">
                <div class="infoLabel">Received from</div>
                <div class="infoContent">
                    <input class="fwInput" type="text">
                </div>
            </div>
            <div class="info">
                <div class="infoLabel">Sent Date</div>
                <div class="infoContent">
                    <input class="fwInput" type="date">
                </div>
            </div>
            <div class="info">
                <div class="infoLabel">Document Received</div>
                <div class="infoContent">
                    <input class="fwInput" type="text">
                </div>
            </div>
            <div class="info">
                <div class="infoLabel">Document Path</div>
                <div class="infoContent">
                    <input class="fwInput" type="text">
                </div>
            </div>
            <div class="info">
                <div class="infoLabel">Bid type</div>
                <div class="infoContent bidType">
                    <div><input type="checkbox" name="bidType" value="structural"> Structural<br></div>
                    <div><input type="checkbox" name="bidType" value="miscellaneous"> Miscellaneous<br></div>
                    <div><input type="checkbox" name="bidType" value="engineering"> Engineering<br></div>
                </div>
            </div>
            <div class="info">
                <div class="infoLabel">Bid Status</div>
                <div class="infoContent">
                    <input class="fwInput" type="text">
                </div>
            </div>
            <div class="info">
                <div class="infoLabel">Sales person</div>
                <div class="infoContent">
                    <input class="fwInput" type="text">
                </div>
            </div>
        </div>

    </div>
    <div class="card estInfo">
        <div class="cardHeader">
            Estimate Info
        </div>
        <div class="estInfoForm">
            <div class="info">
                <div class="infoLabel">Inclusions</div>
                <div class="infoContent">
                    <input class="fwInput" type="text">
                </div>
            </div>
            <div class="info">
                <div class="infoLabel">Exclusions</div>
                <div class="infoContent">
                    <input class="fwInput" type="text">
                </div>
            </div>
            <div class="info">
                <div class="infoLabel">Main Steel Hours</div>
                <div class="infoContent">
                    <input class="fwInput" type="text">
                </div>
            </div>
            <div class="info">
                <div class="infoLabel">Main Steel Estimated Schedule</div>
                <div class="infoContent">
                    <input class="fwInput" type="text">
                </div>
            </div>
            <div class="info">
                <div class="infoLabel">Misc Steel Hours</div>
                <div class="infoContent">
                    <input class="fwInput" type="text">
                </div>
            </div>
            <div class="info">
                <div class="infoLabel">Misc Steel Estimated Schedule</div>
                <div class="infoContent">
                    <input class="fwInput" type="text">
                </div>
            </div>

        </div>
    </div>
    <div class="card estInfo">

        <div class="one-col">
            <div class="info">
                <div class="infoLabel">Remarks</div>
                <div class="infoContent">
                    <input class="fwInput" type="text" value="">
                </div>
            </div>
           

        </div>
    </div>
</div>