<div class="salesDiv">
    <div class="divHeader">Sales Dashboard</div>

    <div class="action">
        <div class="search">
            <input type="text" placeholder="Search Sales Lead" class="searchInput" />
        </div>
        <div class="addSales">
            <button type=""> Add </button>
        </div>
    </div>
    <div class="contentDiv">
        <div class="card salesTable">
            <div class="tRow tHeader">
                <div>
                    #
                </div>
                <div>Company</div>
                <div>Received</div>
                <div>Sent</div>
                <div>Assignee</div>
                <div>Status</div>
            </div>
            <div class="content">
                <div class="tRow tContent">
                    <div>
                        1
                    </div>
                    <div>Company 1</div>
                    <div>Received 1</div>
                    <div>Sent 1</div>
                    <div>Assignee 1</div>
                    <div>Status 1</div>
                </div>
            </div>
        </div>
    </div>

</div>