
        @import url('https://fonts.googleapis.com/css?family=Catamaran');

        body {
            padding: 15px 25px;
            margin: 50px auto 25px auto;
            font-family: 'Catamaran', sans-serif;
            box-sizing: border-box;
        }

        button {
            background: blueviolet;
            padding: 10px 20px;
            box-shadow: none;
            outline: none;
            border-radius: 3px;
            color: white;
        }

        .header {
            position: fixed;
            top: 0;
            left: 0;
            padding: 10px 20px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            height: 50px;
            background: #eee;
            width: 100%;
            box-sizing: border-box;
        }

        .header .options {
            text-align: right;
            cursor: pointer;
        }

        .header .logo {
            font-weight: bolder;
            font-size: 1.25em;
        }

        .mainOptionsDiv {
            cursor: pointer;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 10px;
            margin-bottom: 20px;
            border-bottom: 1px solid #eee;
        }

        .mainOption {
            font-weight: bold;
            font-size: 1em;
            transition: .1s;
            
        }

        .mainOption.selected {
            font-size: 1em;
            color: blueviolet;
            font-weight: bold;
            transition: .1s;
            border-bottom: 3px solid blueviolet;
        }

        .content {
            display: grid;
            grid-gap: 5px;
        }

        .salesDiv {
            display: grid;
            grid-gap: 10px;
        }

        .divAction {
            text-align: right;
        }

        .divHeader {
            font-weight: bold;
            font-size: 28px;
        }

        .addSales button,
        .fw-button {
            width: 100%;
        }

        input.searchInput {
            width: 100%;
            border: none;
            border-bottom: 1px solid #eee;
            font-size: .8em;
            outline: none;
            padding: 5px;
        }

        .card {
            border: 1px solid #eee;
            box-sizing: border-box;
            padding: 10px 15px;
        }

        .tHeader {
            border-bottom: 1px solid #eee;
            font-weight: bold;
        }

        .salesTable .tRow {
            display: grid;
            grid-gap: 5px;
            grid-template-columns: 1fr 4fr repeat(4, 2fr);
        }

        .salesDetailsDiv {
            display: grid;
            grid-gap: 10px;
        }

        .infoLabel {
            font-size: .7em;
            color: blueviolet;
        }

        input.fwInput {
            width: 100%;
            padding: 5px 5px 5px 0px;
            border: none;
            outline: none;
            border-bottom: 1px solid #ccc;
        }

        .companyInfoForm,
        .quoteActionForm,
        .estimationActionForm {
            display: grid;
            grid-gap: 10px;
        }

        .bidInfoForm {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 20px;
            grid-row-gap: 10px;
        }

        .estInfoForm {
            display: grid;
            grid-row-gap: 10px;
            grid-column-gap: 20px;
            grid-template-columns: repeat(2, 1fr);
        }

        .tContent {
            font-size: .9em;
            cursor: pointer;
            transition-duration: .2s;
            background: transparent;
        }
        .tContent:hover {
            font-size: 1.0em;
            font-weight: bold;
            transition-duration: .2s;
            color: blueviolet;
            background: rgba(46,46,46,.05);
        }

        .quoteDiv,.estimationDiv {
            display: grid;
            grid-gap: 10px;
        }

        .quoteActionDiv,
        .addSalesActionDiv,
        .estimationActionDiv {
            display: grid;
            grid-gap: 10px;
            grid-template-columns: repeat(3, 1fr);
        }

        .salesActionDiv {
            display: grid;
            grid-gap: 10px;
            grid-template-columns: repeat(4, 1fr);   
        }
    
        .activeOption {
            color:blueviolet;
            font-size:1.15em;
        }
        .tagContent {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            font-size: .8em;
            align-items: start;
            grid-gap: 5px;
        }
        .tagItem {
            border: 1px solid #ddd;
            border-radius: 3px;
            box-sizing: border-box;
            padding: .1em .5em;
            cursor: pointer;
        }
        .tagItem:hover {
            border: 1px solid blueviolet;
            color: blueviolet;
        }

        .tagItem.selected {
            color: blueviolet;
            border: 1px solid blueviolet;
            
        }
        .notification {
            position: absolute;
            top: 1.5vh;
            right: 2vw;
            padding: 1.5em;
            z-index: 99;
            background: rgba(138,43,226,.95);
            width: 30vw;
            border-radius: 5px;
            box-shadow: 0px 3px 2px -1px #bbb;
            display: grid;
            grid-template-rows: 1fr 2fr;
            grid-gap: 5px;
            cursor: pointer;
        }
        .nClose {
            position: absolute;
            top: 10px;
            right: 15px;
            color: white;
        }
        .nHeader {
            color: white;
        }
        .nContent {
            color: white;
            font-size: .8em;
        }